/* =================================================================== */
/* Orange #fa5b0f
====================================================================== */
h1 > span,
.projectmanager h3,
.projectmanager li a,
.testimonials #quote-carousel h5,
.services-box-item-content:before,
.services-box-item-content h2,
.social-icons ul li a:before,
.info-map-boxes-item:before,
.info-map-boxes-item h1,
.info-map-boxes-item a,
.services-box-item-cover:before,
.services-box-item-cover:after,
#back-top span:before,
.fact-badges h2 span,
.header-fixed .nav-menu ul.nav-menu-inner li a.current,
span.heart,
.nav-menu-icon.active a, .nav-menu-icon a.active, .nav-menu-icon:hover a, .nav-menu-icon a:hover, .nav-menu ul.nav-menu-inner li.active a, .nav-menu ul.nav-menu-inner li a.active, .nav-menu ul.nav-menu-inner li:hover a, .nav-menu ul.nav-menu-inner li a:hover, .header-fixed .nav-menu ul.nav-menu-inner li a.current, .header-fixed .nav-menu ul.nav-menu-inner li.current a
body.dark .nav-menu-icon.active a, body.dark .nav-menu-icon a.active, body.dark .nav-menu-icon:hover a, body.dark .nav-menu-icon a:hover, body.dark .nav-menu ul.nav-menu-inner li.active a, body.dark .nav-menu ul.nav-menu-inner li a.active, body.dark .nav-menu ul.nav-menu-inner li:hover a, body.dark .nav-menu ul.nav-menu-inner li a:hover, body.dark .header-fixed .nav-menu ul.nav-menu-inner li a.current, body.dark .header-fixed .nav-menu ul.nav-menu-inner li.current a {
    color: #fa5b0f;
}
.custom-colorRotatingWords,
.team .social-icons ul.social li a:hover,
.team .social-icons ul.social li a:hover:before {
	color: #fa5b0f !important;
}
.custom-button,
.portfolio .nav-pills li:hover,
.portfolio .nav-pills li.active,
#back-top a:hover,
.social-icons ul li a:hover,
.custom-input-label::before,
.testimonials #quote-carousel .carousel-indicators .active,
.custom-form-group  .input-group .input-group-addon,
.submit-form button,
body.double-diagonal .about::before, 
body.double-diagonal .services::before, 
body.double-diagonal .portfolio::before,
body.double-diagonal .team::before,
body.double-diagonal .contact::before,
body.double-diagonal .logos::before,
.team-member:hover .team-member-caption {
    background-color: #fa5b0f;
}
.about-right-side .full-image-container.hovered:before  {
	border-left: 5px solid #fa5b0f;
}
.projectmanager blockquote,
#quote-carousel .carousel-indicators .active {
    border-color: #fa5b0f;
}
.projectmanagerpicture {
    border: 12px solid #fa5b0f;
}
.portfolio .nav-pills li {
    border: 2px solid #fa5b0f;
}
#back-top a {
    border: 2px solid #fa5b0f;
}
.team-member-caption {
	border-top: 3px solid #fa5b0f;
}
.social-icons ul.social-icons-team li a {
	border: 2px solid #fa5b0f;
}
.social-icons ul li a{
    border: 3px solid #fa5b0f;
}
.footer .social-icons ul li a {
    border: 2px solid #fa5b0f;
}
.footer {
    border-top: 2px solid #fa5b0f;
}
.social-icons ul.social-icons-team li a {
    border: 2px solid #fa5b0f;
}
.preloader .loader {
  background: url(../../img/preloaders/preloader-orange.gif) 50% 50% no-repeat;
}
@media (max-width:767px){
	.social-icons ul li a {
		border: 2px solid #fa5b0f;
	}
	.about-right-side .full-image-container.hovered:before  {
		border-top: 5px solid #fa5b0f;
		border-left:none;
	}
}